<section class="events">
    <div class="container">
        <h1>What do we do</h1>
        <div class="row">
        <p class="col-md-6 col-md-offset-3">{{ site.events-description}}</p>
        </div>
        <div class="row auto-clear">
        {% for event in site.data.events %}
            <div class="col-md-3" >
                <a href="{{event.url}}" target="_blank">
                    <div class="image" style='background: linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url("{{event.img-src}}") no-repeat center center/cover'>
                        <span>{{event.title}}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>