<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-8 center-block" style="float: none;">
				<img src="{{site.logo}}" class="logo">
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 text-center">
        		<h1>Our Story</h1>
				<p class="lead">{{site.story}}</p>
				<h1>Our Mission</h1>
       			<p class="lead">{{site.mission}}</p>
			</div>
			<div class="col-md-5 col-md-offset-2 text-center">
				<h1>The Team</h1>
				<p class="lead">{{site.team-description}}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row events">
				<div class="col-md-12 text-center">
					<h1>Our Events</h1>
					<p class="lead">{{site.events-description}}</p>
					<div class="row auto-clear">
						<div class="col-md-2" >
						</div>
					{% for event in site.data.events %}
						<div class="col-md-2" >
							<a href="{{event.url}}" target="_blank">
								<div class="image" style='background: linear-gradient(rgba(97, 98 ,116 , .5), rgba(97, 98 ,116 , .5)), url("{{event.img-src}}") no-repeat center center/cover'>
									<span>{{event.title}}</span>
								</div>
							</a>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
	</div>
</header>