<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-8 center-block" style="float: none;">
				<img src="{{site.logo}}" class="logo">
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 text-center">
        		<h1>Our Story</h1>
				<p class="lead">{{site.story}}</p>
				<h1>Our Mission</h1>
       			<p class="lead">{{site.mission}}</p>
			</div>
			<div class="col-md-5 col-md-offset-2 text-center">
				<h1>The Team</h1>
				<p class="lead">{{site.team-description}}</p>
			</div>
		</div>
	</div>
</header>